.address-box{
  padding: 5px 10px;
  border-style: solid;
  border-width: 1px 4px;
  border-color: #dadada;
  border-radius: 8px;
  color: #555;

  @include background(linear-gradient(transparent, #dadada, transparent));

}

.row-action-right .x-icon-el:before{
  font-size: 40pt;
}

.cell-red,
.cell-black{
  font-size: 18px;
  font-weight: bold;
}

.cell-red{
  color: rgba(166, 19, 12, 0.86);
}