.item-box,
.address-box{
  padding: 5px 10px;
  border-radius: 2px;
  color: white;
  background-color: #2196f3;
  height: 100%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
}

.address-box div{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: inline-block;
  width: auto;
}

.item-box{
  height: auto;
  min-height: inherit;
  background-color: #f39b34;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  text-align: left;
}

.row-action-right .x-icon-el:before{
  font-size: 60pt !important;
  color: white !important;
  text-shadow: 2px 2px 8px #555;
}

.cell-red,
.cell-black{
  font-size: 18px !important;
  font-weight: bold;
}

.cell-red{
  color: rgba(166, 19, 12, 0.86);
}

.big-icon{
  width: 32px !important;
  height: 32px !important;
}

.big-icon:before{
  font-size: 24px !important;
}

.cell-bg-red{
  background-color: rgb(255, 105, 83);
  box-shadow: 2px 0px 8px 0 rgba(0, 0, 0, 0.4);
}
.cell-bg-blue{
  background-color: rgb(103, 161, 255);
  box-shadow: 2px 0px 8px 0 rgba(0, 0, 0, 0.4);
}

.item-overflow{
  margin: 5px;
}

.action-cell{
  background-color: #2196f3;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.4);
}

.kitchen-main-view .x-gridcell-tool-dock{
 padding: 5px 12px;
}